@charset "utf-8";

* {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

@mixin main-wrapper() {
  max-width: 960px;
  margin: 0 auto;
}

a:link    { color: #333333; }
a:visited { color: #555555; }
a:hover   { color: #aaaaaa; }
a:active  { color: #555555; }

body {
  color: #333;

  header {
    width: 100%;
    background-color: #555;
    height: 40px;
    border-bottom: #999;

    h1 {
      @include main-wrapper();
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a:nth-child(1) { height: 30px; }
      a:nth-child(2) { height: 22px; }
      img.title { height: 30px; }
      img.logout { height: 22px; }
    }
  }

  nav {
    @include main-wrapper();
    padding: 1em 0 0 2em;
    border-bottom: 1px solid #ccc;
    a { text-decoration: none; }

    ul {
      list-style-type: none;
      li {
        display: inline-block;
        padding: 0 0 0 0.5em;
      }
    }
  }

  section {
    @include main-wrapper();
    padding: 1.5em 0 0 4em;

    button {
      margin-left: 0.5em;
      font-size: 40%;
      border: 1px solid #999;
      padding: 3px 9px;
      background-color: #eee;
      border-radius: 3px;
    }

    ul {
      li {
        margin-bottom: 0.3em;
      }
    }

    ul.list li span {
      margin-left: 0.2em;
    }
  }

  footer {
    @include main-wrapper();
    clear: both;
    text-align: center;
    margin-top: 2em;
    font-size: 80%;
  }
}
